body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

button {
    background-color: #4CAF50; /* سبز */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#heart-container {
    margin-top: 20px;
}

#angry-message {
    margin-top: 20px;
    color: #f44336; /* قرمز */
    font-size: 24px;
    font-weight: bold;
}
